<!DOCTYPE hbs>
<hbs lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Happy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="/images/logo-icon.png" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/page-landing.css" />

      <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet" />

    </head>
  <body>
    <div id="page-landing">
        <div id="container">
        <header>
        <img  
        class="animation-up" id="Logo" src="/images/logo.svg" alt="Logo Happy" />
  
        <div class="location animation-up">
          <strong>Rio do Sul</strong>
          <p>Santa Catarina</p>
        </div>
      </header>
  
      <main>
        <h1 class="animation-up">Leve felicidade para o mundo</h1>
  
        <section class="visit">
          <p class="animation-up">Visite orfanatos e mude o dia de muitas crianças</p>

          <a href="/orphanages" title="Visite orfanatos" class="animation-up">
            <img src="/images/arrow.svg" alt="Ir para o mapa" />
          </a>
        </section>
      </main>
  </div>

  </body>
</hbs>

<!--
    hbs 
    Hypertext
      hipertexto
    
    Markup
      marcação <tags>
    
    Language
      linguagem    

-->

